* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(16, 16, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 50px 84px;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 1.4rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.2rem;
    margin: 70px 0;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(170, 131, 207);
}

.gray-color {
    color: gray;
}

#element {
    color: rgb(170, 131, 207);
}

.secondSection {
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    background-color: white;
    height: 93px;
    width: 1px;
    margin: 0px 100px;
}